body {
	width: 80%;
	text-align:center;
	margin:auto;
}

div.image_container {
    width:256px;
    float:left;
    margin:8px;
}

form {
	margin-top:20px;
    margin-left: auto;
    margin-right: auto;
    width:700px;
}

.image {
    display:block;
    margin:auto;
}

input.search_bar {
    width:500px;
}